pandas==2.2.2
httpx==0.27.0
plotly==5.21.0
streamlit==1.33.0
st-pages==0.4.5
pyppeteer==2.0.0
selenium==4.19.0
python-dotenv==1.0.1
pur==7.3.1
git+https://github.com/psf/requests-html
# requests-html==0.10.0
